<div>

<% if user_signed_in? %>

    <div class="flex items-center text-center justify-center">

        <h1 class="text-2xl font-bold underline text-center mr-5">Short links</h1>

        <%= button_to "+", new_short_link_path, method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

    </div>

    <div id="short_links">
        <% if @short_links %>
            <div class="flex items-center text-center justify-center">
                <table class="table-fixed w-3/6 bg-white-500 border-separate border-spacing-1 border-collapse border border-slate-500 mt-2">
                    <thead>
                    <tr>
                        <th class="border border-slate-600">Short Url</th>
                        <th class="border border-slate-600">Url</th>
                        <th class="border border-slate-600">Expiration Date</th>
                        <th class="border border-slate-600">Password</th>
                        <th class="border border-slate-600">Usages</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @short_links.each do |short_link| %>
                            <%= render short_link %>
                        <% end %>
                    </tbody>
                </table>
                </div>
        <% end %>
    </div>
<% else %>
    <div class="flex items-center text-center justify-center grid grid-cols-12 content-start">
        <div class="col-start-2 col-span-4 ml-8">
            <p class="text-2xl font-bold">Create shortened URLs to easily enforce the connection between your content and your audience across the internet.</p>
        </div>

        <div class="col-start-7 col-span-4 ml-8">
            <%= image_tag("shortened.png") %>
        </div>
    </div>
<% end %>

</div>