<h1>Editing short link</h1>

<%= render "form", short_link: @short_link %>

<br>

<div>
  <%= link_to "Show this short link", @short_link %> |
  <%= link_to "Back to short links", short_links_path %>
</div>
